
/* Your CSS Code here. */
table{
	border:1px solid black;
	border-collapse:collapse;
     padding-right:50px;
}
tr,th,td{
	border:1px solid black;
	padding-right:50px;
	background-color:yellow}
tr:hover td {
    background-color: red;
}